autopep8==1.4.4
Beaker==1.11.0
blis==0.4.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cymem==2.0.2
dill==0.3.1.1
docx2txt==0.8
idna==2.8
murmurhash==1.0.2
numpy==1.22.0
pep8==1.7.1
plac==0.9.6
preshed==3.0.2
pycodestyle==2.5.0
PyPDF2==1.26.0
requests==2.22.0
spacy==2.2.1
srsly==0.1.0
thinc==7.1.1
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.2.2
